.book-details {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.back-btn {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 1rem;
}

.book-card-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.image-box {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.book-info {
  flex: 2;
  min-width: 250px;
}

.book-info button {
 background-color: #007bff;
  color: white;
  font-size: 1rem;
   padding: 10px 16px;
   border: none;
   border-radius: 6px;
}

.available {
  color: green;
  font-weight: bold;
}

.unavailable {
  color: red;
  font-weight: bold;
}
